.addSongModal {
    max-height: 80% !important;
    //height: 80% !important;

    h4 {
        margin: 0px;
        padding: 0px;

        @media #{$small-and-down} {
            text-align: center;
            margin-bottom: .5em;
        }
    }

    .searchBox {
        margin: 0px;
    }
}
