<table id="hubsTable" class="table table-stripped table-hover" style="table-layout: fixed">
  <thead>
    <tr>
      <div class="row">
        <div class="col-xs-12">
          <form role="form" id="searchForm">
            <div class="form-group">
              <input type="text" id="searchParam" class="form-control placeholderChange" placeholder="Search" style="background-color: rgba(255,255,255,.40); color: white" ng-model="searchParam" />
            </div>
          </form>
        </div>
      </div>

    </tr>
  </thead>
</table>
<div id="hubsTableContent" style="overflow-y: auto; overflow-x: hidden; height: 300px">
  <table class="table table-stripped table-hover">
    <tbody>
      <tr id="{{hub}}" ng-repeat="hub in hubs | filter:searchParam:strict">
        <td>
        <div class="row">
          <div class="col-xs-5 col-md-2">
            <img class="img-responsive" alt="No Album Art" ng-src="{{(hub.get('currentlyPlaying').get('song').get('thumbnail')) || 'images/defaultAlbumArt.jpg'}}"  width="200"/>
          </div>
          <div class="col-xs-7 col-md-10">
            <h3 style="margin-top: 5px">{{hub.attributes.title}}</h3>
            <p>{{hub.get('currentlyPlaying').get('song').get('title')}}</p>
            <p>owner: <a style="color: white">{{hub.get('owner').get('username')}}</a></p>
          </div>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
