<div id="hubsTableContent" style="overflow-y: auto; overflow-x: hidden; height: 300px">
  <table class="table table-stripped table-hover">
    <tbody>
      <tr id="{{hub}}" ng-repeat="hub in hubs | filter:searchParam:strict">
        <td>
        <div class="row">
          <div class="col-xs-3">
            <img alt="No Album Art" ng-src="{{(hub.get('currentlyPlaying').get('song').get('thumbnail')) || 'images/defaultAlbumArt.jpg'}}"  width="100"/>
          </div>
          <div class="col-xs-9">
            <h4 style="margin-top: 2px; margin-bottom: 2px;">{{hub.attributes.title}}</h4>
            <p style="white-space: nowrap; margin-bottom: 0px;">{{hub.get('currentlyPlaying').get('song').get('title')}}</p>
            <p><a style="color: #4582EC">{{hub.get('owner').get('username')}}</a></p>
          </div>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
