<div style="color: white; padding-top: 0px">
  <div id="foundSongsTable" style="overflow-y: auto; overflow-x: hidden; height: 100px; margin: 0px;">
    <table class="table table-stripped table-hover">
      <tbody>
        <tr id="{{song}}" ng-repeat="song in foundSongs">
          <td style="padding-right: 0px; padding-left:0px; padding-bottom: 8px;">
            <div class="col-xs-3" style="padding-right: 0px;">
              <img class="img-responsive" alt="No Album Art" ng-src="{{song.snippet.thumbnails.high.url || 'images/defaultAlbumArt.jpg'}}"/>
            </div>

            <div class="col-xs-9">
              <h3 style="margin-top: 0px">{{song.snippet.title}}</h3>
              <p>{{song.snippet.description}}</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
