<div class="well" style="background-color: rgba(255,255,255,.20); color: white; padding-top: 0px">
  <div class="row" style="padding-left: 5px; padding-right: 5px">
    <div class="col-xs-4">
      <h3 style="margin-top: 15px;">PlayList</h3>
    </div>
    <div class="col-xs-8" style="margin-top: 10px;" >
      <input  type="text" class="form-control placeholderChange" placeholder="Search" style="background-color: rgba(255,255,255,.40); color: white" ng-model="searchParam"/>
    </div>
  </div>

  <div id="playListTable" style="overflow-y: auto; overflow-x: hidden; height: 100px; margin: 5px;">
    <table class="table table-stripped table-hover">
      <tbody>
        <tr id="{{song}}" ng-repeat="song in playlist | filter:searchParam" ng-show="song.get('position') != 0">
          <td>
            <div class="row">
              <div class="col-xs-1 col-md-1">
                <h1 style="margin-top: 11px;">{{$index}}</h1>
              </div>


              <div class="col-xs-5 col-md-2">
                <img class="img-responsive" alt="No Album Art" ng-src="{{song.get('song').get('thumbnail') || 'images/defaultAlbumArt.jpg'}}"  width="100"/>
              </div>
              <div class="col-xs-3 col-md-6">
                <h4 style="margin-bottom: 4px; margin-top: 0px;">{{song.get('song').get('title')}}</h4>
                <p>added By: <a style="color: #4582EC">{{song.get('addedBy').get('username')}}</a></p>
              </div>
              <div class="col-xs-2 col-md-2">
                <div class="btn-group">
                  <button type="button" ng-click="upVote(song)" ng-model="song.currentVote" class="btn btn-default btn-lg" btn-radio="'up'" uncheckable>
                    <span class="glyphicon glyphicon-thumbs-up" ></span>
                  </button>
                  <button type="button" ng-click="downVote(song)" ng-model="song.currentVote" class="btn btn-default btn-lg" btn-radio="'down'">
                    <span class="glyphicon glyphicon-thumbs-down" uncheckable></span>
                  </button>
                </div>
              </div>
              <div class="col-xs-1 col-md-1">
                <h1 style="margin-top: 11px">{{song.get('score')}}</h1>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
