<div style="color: white; padding-top: 0px;">
  <div id="playListTable" style="overflow-y: auto; overflow-x: hidden; height: 100px; margin: 0px;">
    <table class="table table-stripped table-hover">
      <tbody>
        <tr id="{{song}}" ng-repeat="song in playlist | filter:searchParam" ng-show="song.get('position') != 0">
          <td style="padding-right: 0px; padding-left:0px; padding-bottom: 8px;">
            <div class="col-xs-1" style="font-size: 26px; padding-right: 10px; padding-left: 6px; margin-left:0px; margin-right: 0px;">
              <p>{{$index}}</p>
            </div>

            <div class="col-xs-3" style="padding-right: 0px; padding-left: 8px;">
              <img class="img-responsive" alt="No Album Art" ng-src="{{song.get('song').get('thumbnail') || 'images/defaultAlbumArt.jpg'}}"/>
            </div>
            <div class="col-xs-5" style="padding-right: 0px; padding-left: 8px;">
              <p class="twoLine" style="font-size: 15px; margin-bottom: 0px; margin-top: 0px;">{{song.get('song').get('title').substr(0, 35)}}</p>
              <p style="font-size: 10px; margin-bottom: 0px;"><a style="color: #4582EC">{{song.get('addedBy').get('username').substr(0, 25)}}</a></p>
            </div>

            <div class="col-xs-1" style="padding: 0px">
              <h4 style="margin-top: 11px;">{{song.get('score')}}</h4>
            </div>

            <div class="col-xs-2" style="padding-right: 0px; padding-left: 0px;">
              <button type="button" ng-click="upVote(song)" ng-model="song.currentVote" class="btn btn-default btn-sm" style="padding-right: 8px; padding-left: 8px; padding-top: 4px; padding-bottom: 0px; margin-bottom: 3px;" ng-class="{active:song.currentVote == 'up'}">
                <span class="glyphicon glyphicon-thumbs-up" ></span>
              </button>
              <button type="button" ng-click="downVote(song)" ng-model="song.currentVote" class="btn btn-default btn-sm" style="padding-right: 8px; padding-left: 8px; padding-top: 4px; padding-bottom: 0px; margin-top: 3px;" ng-class="{active:song.currentVote == 'down'}">
                <span class="glyphicon glyphicon-thumbs-down"></span>
              </button>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
