$numBars: 15;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999999;
    text-align: center;
    line-height: 35vh;


    #bars {
        position: absolute;
        height: 50px;
        left: 50%;
        margin-left: -5em;
        top: 35%;
        width: 100px;
    }

    .bar {
        background: #2196f3;
        bottom: 1px;
        height: 3px;
        position: absolute;
        width: 8px;
        animation: sound 0ms -800ms linear infinite alternate;
    }

    @keyframes sound {
        0% {
            opacity: .35;
            height: 3px;
        }
        100% {
            opacity: 1;
            height: 120px;
        }
    }

    @for $i from 1 through $numBars {
        $start: 1px;
        $left: $start + (9 * $i);
        .bar:nth-child(#{$i})  {

            left: $left;
            animation-duration: random(100) + 500ms;
        }
    }

}
