<div ng-show="false">
  <nav class="navbar navbar-default navbar-fixed-bottom" style="color: gray; border:0px">
    <div class="navbar-header" style="margin: 0px">
      <div class="row">

        <div class="col-xs-3" style="padding-right: 0px">
          <div class="embed-responsive embed-responsive-16by9">
            <div id="player" class="embed-responsive-item"></div>
          </div>
        </div>

        <div class="col-xs-8" id="playerWell">
          <h5>{{currentSong.get('song').get('title')}}</h5>
        </div>
      </div>
    </div>
  </nav>
</div>


<div class="navbar navbar-default navbar-fixed-bottom" style="color: gray; border:0px">
  <div class="row">
    <div class="col-xs-5 col-md-2">
      <img class="img-responsive" alt="No Album Art" ng-src="{{currentSong.get('song').get('thumbnail') || 'images/defaultAlbumArt.jpg'}}"  width="200"/>

    </div>
    <div class="col-xs-7 col-md-10">
      <h3 style="margin-top: 0px">{{currentSong.get('song').get('title')}}</h3>
      <p>{{currentSong.get('song').get('description')}}</p>
    </div>
  </div>
</div>
