<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://juke.parseapp.com">Juke</a>
    </div>

    <div ng-show="!currentUser">
      <div class="navbar-collapse collapse navbar-inverse-collapse">
        <form name="loginForm" class="navbar-form navbar-right" novalidate="">
	  <input type="text" class="form-control col-lg-8 ng-pristine ng-invalid-required ng-invalid" style="margin: 5px;" placeholder="username" ng-model="login.username" required="">
	  <input type="password" class="form-control col-lg-8 ng-pristine ng-invalid-required ng-invalid" style="margin: 5px;" placeholder="password" ng-model="login.password" required="">
	  <button id="loginButton" type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" style="margin: 5px;" disabled="disabled">Login</button>
	  <button id="signUpButton" type="submit" class="btn btn-success" style="margin: 5px;">Sign Up</button>
        </form>
      </div>
    </div>

    <div ng-show="currentUser">
      <div class="navbar-collapse navbar-right collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav navbar-form" style="margin-top: 10px; padding-right: 8px;">
          <li style="padding-right: 15px"><h4>Hi, {{currentUser.get('username')}}</h4></li>
          <li><button style="margin-bottom: 0px;" id="logoutButton" type="submit" class="btn btn-primary" style="margin: 5px;">Logout</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
