<div class="navbar navbar-default navbar-fixed-top" style="position: fixed; margin-bottom: 0px; border-bottom: 0px;">
  <div class="container">
    <div class="navbar-header">
      <button style="margin-top: 14px;"type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://juke.parseapp.com">Juke</a>

      <div class="navbar-right pull-right">
        <button  ng-show="!searching" style="margin-bottom: 0px; padding-bottom: 0px;" type="button" class="btn btn-default navbar-btn btn-lg" ng-click="toggleSearch()">
          <span style="color: #575757" class="glyphicon glyphicon-search"></span>
        </button>

        <div class="nav-form" style="margin-top: 10px; margin-right: 5px">
          <input ng-show="searching" type="text" placeholder="Search" class="form-control" ng-model="searchParam" id="searchParam">
        </div>
      </div>
    </div>

    <div ng-show="!currentUser">
      <div class="navbar-collapse collapse navbar-inverse-collapse">
        <form name="loginForm" class="navbar-form navbar-right" novalidate="">
	  <input type="text" class="form-control col-lg-8 ng-pristine ng-invalid-required ng-invalid" style="margin: 5px;" placeholder="username" ng-model="login.username" required="">
	  <input type="password" class="form-control col-lg-8 ng-pristine ng-invalid-required ng-invalid" style="margin: 5px;" placeholder="password" ng-model="login.password" required="">
	  <button id="loginButton" type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" style="margin: 5px;" disabled="disabled">Login</button>
	  <button id="signUpButton" type="submit" class="btn btn-success" style="margin: 5px;">Sign Up</button>
        </form>
      </div>
    </div>

    <div ng-show="currentUser">
      <div class="navbar-collapse navbar-right collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav navbar-form" style="margin-top: 10px; padding-right: 8px;">
          <li style="padding-right: 15px"><h4>Hi, {{currentUser.get('username')}}</h4></li>
          <li><button style="margin-bottom: 0px;" id="logoutButton" type="submit" class="btn btn-primary" style="margin: 5px;">Logout</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
