<div id="loginModal" class="modal">
  <div class="modal-content">

    <div class="row">
      <h4>
        <a ng-class="{'btn-flat': !isLogin}" class="waves-effect waves-red" ng-click="isLogin = true;">Login</a>
        <a ng-class="{'btn-flat': isLogin}" class="waves-effect waves-red" ng-click="isLogin = false;">Sign Up</a>
      </h4>
    </div>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="name" type="text" class="validate" ng-model="user.username">
            <label for="name" data-error="wrong" data-success="right">Username</label>
          </div>
          <div class="input-field col s6">
            <input id="password" type="password" class="validate" ng-model="user.password">
            <label for="password" data-error="wrong" data-success="right">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6" ng-if="lock">
            <p>
              <input id="password" type="text" class="validate" ng-model="hub.password">
              <label for="password" data-error="wrong" data-success="right">Password</label>
            </p>
          </div>
        </div>
      </form>
      <div class="row">
        <p ng-if="error" style="text-align: center">{{errorMessage}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a ng-show="isLogin" href="#!" class="modal-action waves-effect waves-green btn-flat" ng-click="login()">Login</a>
    <a ng-show="!isLogin" href="#!" class="modal-action waves-effect waves-green btn-flat" ng-click="signUp()">Sign Up</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
  </div>
</div>
