<div class="container hubPage">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a class="active" href="#player">Player</a></li>
        <li class="tab col s4"><a href="#playList">Play List</a></li>
        <li class="tab col s4"><a href="#userList">User List</a></li>
      </ul>
    </div>
    <div id="player" class="col s12">
      player
      <player>
    </div>
    <div id="playList" class="col s12">
      play list
      <play-list></play-list>
    </div>
    <div id="userList" class="col s12">
      user list
      <user-list></user-list>
    </div>
  </div>
</div>
