<div ng-include="'partials/nav.html'"></div>

<div class="container">
  <div class="row" ng-show="isMobile">
    <div class="alert alert-info" style="text-align: center">Try our mobile version in the app stores</div>
  </div>

  <div ng-include="'partials/hubsTable.html'"></div>


  <div class="well">
    <form name="signUpForm" class="form-inline ng-pristine ng-invalid-required ng-invalid" novalidate="">
	<legend>Sign Up</legend>
	<div class="row">
	  <div class="form-group">
	    <input type="username" ng-model="signUp_username" class="form-control ng-pristine ng-invalid-required ng-invalid" id="username" placeholder="Username" name="username" required="">
	  </div>
	  <div class="form-group">
	    <input type="password" class="form-control ng-pristine ng-invalid ng-invalid-required" id="password" placeholder="Password" name="password" ng-model="signUp_password" required="">
	  </div>
	  <button ng-click="signUp()" type="submit" class="btn btn-primary" ng-disabled="signUpForm.$invalid" disabled="disabled">Submit</button>

          <button data-toggle="modal" data-target="#myModal" class="btn btn-link">forget your password?</button>
	</div>
        <br>
    </form>
  </div>
</div>
