<div ng-if="isMobile">

  <div class="btn-group btn-group-xs btn-group-justified">
    <div class="btn-group">
      <button style="border-radius: 0px" type="button" class="btn btn-default btn-sm" ng-model="currentView" btn-radio="'playlist'" id="playlistMobileButton">PlayList</button>
    </div>
    <div class="btn-group">
      <button style="border-radius: 0px" type="button" class="btn btn-default btn-sm" ng-model="currentView" btn-radio="'addSongs'" id="addSongsMobileButton" ng-click="addingSongsButtonClick()">Add Songs</button>
    </div>
  </div>

  <div ng-controller="PlayerCtrl">
    <div class="player"></div>
  </div>

  <div ng-show="currentView == 'playlist'">
    <div ng-controller="PlayListCtrl">
      <div class="playList"></div>
    </div>
  </div>

  <div ng-show="currentView == 'addSongs'">
    <div ng-controller="SongFinderCtrl">
      <div class="songFinder"></div>
    </div>
  </div>
</div>

<div class="container" style="color: white" ng-if="!isMobile">
  <div class="row">
    <div class="col-xs-6">
      <h2>{{currentHub.attributes.title}}</h2>
    </div>
    <div class="col-xs-6">
      <div class="btn-group" style="margin-top: 22px">
        <div class="btn-group">
          <label class="btn btn-default" ng-model="currentView" btn-radio="'playlist'">PlayList</label>
          <label class="btn btn-default" ng-model="currentView" btn-radio="'addSongs'">Add Songs</label>
        </div>
      </div>
    </div>
  </div>

  <div ng-controller="PlayerCtrl">
    <div class="player"></div>
  </div>

  <div ng-show="currentView == 'playlist'">
    <div ng-controller="PlayListCtrl">
      <div class="playList"></div>
    </div>
  </div>

  <div ng-show="currentView == 'addSongs'">
    <div ng-controller="SongFinderCtrl">
      <div class="songFinder"></div>
    </div>
  </div>

</div>
