<div>
  <div class="modal-header">
    <h3 class="modal-title">New Hub!</h3>
  </div>
  <div class="modal-body">
    <form role="form" name="form" novalidate>
      <div class="form-group">
        <label for="hubName">Hub Name*</label>
        <input id="hubName" name="hubName" type="text"  class="form-control" ng-class="{'has-error': form.hubName.$invalid, 'has-success': !form.hubName.$invalid}" ng-model="hub.name" placeholder="Name" required/>
      </div>
      <div class="checkbox">
        <label>
          <input ng-model="hub.hasPassword" type="checkbox"> Password Protect?
        </label>
      </div>

      <div class="form-group" ng-show="hub.hasPassword">
        <label for="password">Hub Password</label>
        <input id="password" type="text" class="form-control" ng-model="hub.password" placeholder="Password"/>
      </div>

      <div class="control-group">
        <label>Hub Sources</label>
        <div class="controls form-inline">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="(!hub.capabilities.youtube && !hub.capabilities.spotify)" ng-model="hub.capabilities.all">All
            </label>
          </div>
          <div class="checkbox" style="padding-left: 5px">
            <label>
              <input type="checkbox" ng-model="hub.capabilities.youtube">Youtube
            </label>
          </div>
          <div class="checkbox" style="padding-left: 5px">
            <label>
              <input type="checkbox" ng-model="hub.capabilities.spotify">Spotify
            </label>
          </div>
        </div>
      </div>
      <p>* required</p>
      <div class="modal-footer">
        <button ng-disabled="form.$invalid" id="createHubButton" type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>
