<table id="hubsTable" class="table table-stripped table-hover" style="table-layout: fixed">
  <thead>
    <tr>
      <div class="row">
        <div class="col-xs-12">
          <input type="text" class="form-control placeholderChange" placeholder="Search" style="background-color: rgba(255,255,255,.40); color: white" />
        </div>
      </div>

    </tr>
  </thead>
</table>
<div id="hubsTableContent" style="overflow-y: auto; height: 300px">
  <table class="table table-stripped table-hover">
    <tbody>
      <tr id="{{hub.id}}" ng-repeat="hub in hubs">
        <td>
        <div class="row">
          <div class="col-xs-4 col-md-4">
            <img class="img-responsive" alt="No Album Art" ng-src="{{hub.get('currentlyPlaying').get('song').get('thumbnail')}}"  width="150"/>
          </div>
          <div class="col-xs-4 col-md-4">
            <h3>{{hub.attributes.title}}</h3>
          </div>
          <div class="col-xs-4 col-md-4">
            <h4>{{hub.get('currentlyPlaying').get('song').get('title')}}</h4>
          </div>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
