<table id="hubsTable" class="table table-stripped table-hover" style="table-layout: fixed">
  <thead>
    <tr>
      <th class="col-xs-4 col-md-4">Album Art</th>
      <th class="col-xs-4 col-md-4" ng-click="predicate = 'attributes.name'; reverse=!reverse">Name</th>
      <th class="col-xs-4 col-md-4">Currently Playing</th>
    </tr>
  </thead>
</table>
  <div id="hubsTableContent" style="overflow-y: auto; height: 300px">
    <table>
      <tbody>
        <tr id="{{hub.id}}" ng-repeat="hub in hubs | filter:predicate.attributes.$" >
          <td class="col-xs-4 col-md-4">
            <img class="img-responsive" alt="No Album Art" ng-src="{{hub.get('currentlyPlaying').get('song').get('thumbnail')}}"  width="150"/>
          </td>
          <td class="col-xs-4 col-md-4"><h3>{{hub.attributes.title}}</h3></td>
          <td class="col-xs-4 col-md-4"><h4>{{hub.get('currentlyPlaying').get('song').get('title')}}</h4></td>
        </tr>
      </tbody>
    </table>
  </div>
</table>
