.songListItem {
    @include card(3);
    @include span-columns(12);

    margin-bottom: 8px;

    &:hover {
        cursor: copy;
        background-color: darken(#ffffff, 16%);
    }

    @media #{$medium-and-up} {
        @include span-columns(6);
        @include omega(2n);
    }

    @media #{$large-and-up} {
        @include omega-reset(2n);
        @include span-columns(4);
        @include omega(3n);
    }


    .youtubeSongListItem {
        @include outer-container;

        img {
            @include span-columns(4);

            @media #{$medium-and-up} {
                @include span-columns(4);
                max-height: 100px;
            }

            @media #{$large-and-up} {
                @include span-columns(4);
                max-height: 100px;
            }
        }

        .songInfo {
            @include span-columns(8);
            padding: 8px;
            h6 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 1.2em;
                margin: 0px 0px .5em 0px;
            }

            p {
                font-size: .80em;
                color: black;
                margin: 0px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
